.formItem {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.formItem input,
.formItem select {
  padding: 0.3em;
}

.checkbox {
  margin-top: 1em;
}

.formItem label {
  margin-bottom: 0.5em;
}

.submitBtn {
  margin-top: 1em;
}
